In [1]:
import numpy as np
import pandas as pd
from main_knapsack_functions import *

In [2]:
df_m = build_training_set(10, 5, generate_knapsack_mconstraint, m = 2)

In [5]:
df_m.head(10)

,node_id,parent_id,depth,visit_idx,open_nodes_count,branch_parent_var,branch_parent_dir,branch_parent_value,lp_objective,num_frac,...,status,has_optimal_subtree,x0,x1,x2,x3,x4,instance_id,num_items,m_constraints
0,0,NaN,0,0,0,NaN,None,NaN,114.90,2.0,...,fractional,True,NaN,NaN,NaN,NaN,NaN,0,5,2
1,2,0.0,1,1,1,4.0,up,0.366667,NaN,NaN,...,infeasible,False,NaN,NaN,NaN,NaN,1.0,0,5,2
2,1,0.0,1,2,0,4.0,down,0.366667,103.00,0.0,...,integer,True,NaN,NaN,NaN,NaN,0.0,0,5,2
3,0,NaN,0,0,0,NaN,None,NaN,90.60,1.0,...,fractional,True,NaN,NaN,NaN,NaN,NaN,1,5,2
4,2,0.0,1,1,1,3.0,up,0.800000,81.40,1.0,...,fractional,False,NaN,NaN,NaN,1.0,NaN,1,5,2
5,4,2.0,2,2,2,0.0,up,0.600000,NaN,NaN,...,infeasible,False,1.0,NaN,NaN,1.0,NaN,1,5,2
6,3,2.0,2,3,1,0.0,down,0.600000,67.00,1.0,...,fractional,False,0.0,NaN,NaN,1.0,NaN,1,5,2
7,6,3.0,3,4,2,1.0,up,0.545455,NaN,NaN,...,infeasible,False,0.0,1.0,NaN,1.0,NaN,1,5,2
8,5,3.0,3,5,1,1.0,down,0.545455,60.25,1.0,...,fractional,False,0.0,0.0,NaN,1.0,NaN,1,5,2
9,8,5.0,4,6,2,2.0,up,0.375000,NaN,NaN,...,infeasible,False,0.0,0.0,1.0,1.0,NaN,1,5,2