In [7]:
import numpy as np
import pandas as pd
from main_knapsack_functions import *
from logreg_functions import *

In [2]:
# 1-constraint dataset (large)
training_1constr = build_training_set(
    num_instances=10000,
    num_items=None,
    instance_generator=generate_knapsack_1constraint
)

# multi-constraint datasets (smaller per m)
dfs_mconstr = []
for num_constr in range(2, 6):
    df_m = build_training_set(
        num_instances=2000,
        num_items=None,
        instance_generator=generate_knapsack_mconstraint,
        m=num_constr
    )
    dfs_mconstr.append(df_m)
training_mconstr = pd.concat(dfs_mconstr, ignore_index=True)

# correlated 1-constraint dataset (random alpha + max_weight per instance)
training_corr = build_training_set(
    num_instances=5000,
    num_items=None,
    instance_generator=correlated_wrapper
)

# combined training set
training_all = pd.concat(
    [training_1constr, training_mconstr, training_corr],
    ignore_index=True
)

/Users/nedimozden/Desktop/CMOR-Research/CMOR_Research/Code/0-1 Knapsack/main_knapsack_functions.py:452: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  full_df = pd.concat(all_dfs, ignore_index=True)
/Users/nedimozden/Desktop/CMOR-Research/CMOR_Research/Code/0-1 Knapsack/main_knapsack_functions.py:452: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  full_df = pd.concat(all_dfs, ignore_index=True)
/Users/nedimozden/Desktop/CMOR-Research/CMOR_Research/Code/0-1 Knapsack/main_knapsack_functions.py:452: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  full_df = pd.concat(all_dfs, ignore_index=True)
/Users/nedimozden/Desktop/CMOR-Research/CMOR_Research/Code/0-1 Knapsack/main_knapsack_functions.py:452: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  full_df = pd.concat(all_dfs, ignore_index=True)
/Users/nedimozden/Desktop/CMOR-Research/CMOR_Research/Code/0-1 Knapsack/main_knapsack_functions.py:452: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  full_df = pd.concat(all_dfs, ignore_index=True)
/Users/nedimozden/Desktop/CMOR-Research/CMOR_Research/Code/0-1 Knapsack/main_knapsack_functions.py:452: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  full_df = pd.concat(all_dfs, ignore_index=True)

In [3]:
training_1constr

,node_id,parent_id,depth,visit_idx,open_nodes_count,branch_parent_var,branch_parent_dir,branch_parent_value,lp_objective,num_frac,...,x1,x2,x3,x4,instance_id,num_items,m_constraints,x5,x6,x7
0,0,NaN,0,0,0,NaN,None,NaN,54.500000,1.0,...,NaN,NaN,NaN,NaN,0,5,1,NaN,NaN,NaN
1,2,0.0,1,1,1,0.0,up,0.166667,50.000000,1.0,...,NaN,NaN,NaN,NaN,0,5,1,NaN,NaN,NaN
2,4,2.0,2,2,2,3.0,up,0.666667,41.285714,1.0,...,NaN,NaN,1.0,NaN,0,5,1,NaN,NaN,NaN
3,6,4.0,3,3,3,4.0,up,0.714286,NaN,NaN,...,NaN,NaN,1.0,1.0,0,5,1,NaN,NaN,NaN
4,5,4.0,3,4,2,4.0,down,0.714286,13.538462,1.0,...,NaN,NaN,1.0,0.0,0,5,1,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
202841,14,11.0,4,12,2,3.0,up,0.062500,NaN,NaN,...,1.0,NaN,1.0,0.0,9999,5,1,NaN,NaN,NaN
202842,13,11.0,4,13,1,3.0,down,0.062500,72.000000,0.0,...,1.0,NaN,0.0,0.0,9999,5,1,NaN,NaN,NaN
202843,1,0.0,1,14,0,1.0,down,0.588235,80.750000,1.0,...,0.0,NaN,NaN,NaN,9999,5,1,NaN,NaN,NaN
202844,16,1.0,2,15,1,3.0,up,0.625000,76.000000,0.0,...,0.0,NaN,1.0,NaN,9999,5,1,NaN,NaN,NaN
202845,15,1.0,2,16,0,3.0,down,0.625000,67.000000,0.0,...,0.0,NaN,0.0,NaN,9999,5,1,NaN,NaN,NaN

In [4]:
training_mconstr

,node_id,parent_id,depth,visit_idx,open_nodes_count,branch_parent_var,branch_parent_dir,branch_parent_value,lp_objective,num_frac,...,x1,x2,x3,x4,x5,instance_id,num_items,m_constraints,x6,x7
0,0,NaN,0,0,0,NaN,None,NaN,127.329268,2.0,...,NaN,NaN,NaN,NaN,NaN,0,6,2,NaN,NaN
1,2,0.0,1,1,1,5.0,up,0.589431,127.186047,2.0,...,NaN,NaN,NaN,NaN,1.0,0,6,2,NaN,NaN
2,4,2.0,2,2,2,3.0,up,0.530233,NaN,NaN,...,NaN,NaN,1.0,NaN,1.0,0,6,2,NaN,NaN
3,3,2.0,2,3,1,3.0,down,0.530233,125.925926,2.0,...,NaN,NaN,0.0,NaN,1.0,0,6,2,NaN,NaN
4,6,3.0,3,4,2,4.0,up,0.703704,91.000000,0.0,...,NaN,NaN,0.0,1.0,1.0,0,6,2,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
216681,1,0.0,1,10,0,4.0,down,0.428571,66.461538,1.0,...,NaN,NaN,NaN,0.0,NaN,1999,5,5,NaN,NaN
216682,12,1.0,2,11,1,2.0,up,0.461538,53.137255,2.0,...,NaN,1.0,NaN,0.0,NaN,1999,5,5,NaN,NaN
216683,11,1.0,2,12,0,2.0,down,0.461538,62.692308,1.0,...,NaN,0.0,NaN,0.0,NaN,1999,5,5,NaN,NaN
216684,14,11.0,3,13,1,3.0,up,0.538462,44.482517,2.0,...,NaN,0.0,1.0,0.0,NaN,1999,5,5,NaN,NaN
216685,13,11.0,3,14,0,3.0,down,0.538462,60.000000,0.0,...,NaN,0.0,0.0,0.0,NaN,1999,5,5,NaN,NaN

In [5]:
training_corr

,node_id,parent_id,depth,visit_idx,open_nodes_count,branch_parent_var,branch_parent_dir,branch_parent_value,lp_objective,num_frac,...,x1,x2,x3,x4,x5,x6,instance_id,num_items,m_constraints,x7
0,0,NaN,0,0,0,NaN,None,NaN,279.083666,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,0,7,1,NaN
1,2,0.0,1,1,1,1.0,up,0.466667,277.730701,1.0,...,1.0,NaN,NaN,NaN,NaN,NaN,0,7,1,NaN
2,4,2.0,2,2,2,2.0,up,0.333333,NaN,NaN,...,1.0,1.0,NaN,NaN,NaN,NaN,0,7,1,NaN
3,3,2.0,2,3,1,2.0,down,0.333333,276.647100,1.0,...,1.0,0.0,NaN,NaN,NaN,NaN,0,7,1,NaN
4,6,3.0,3,4,2,0.0,up,0.200000,NaN,NaN,...,1.0,0.0,NaN,NaN,NaN,NaN,0,7,1,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
157515,1,0.0,1,14,0,0.0,down,0.473684,564.940479,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,4999,5,1,NaN
157516,16,1.0,2,15,1,1.0,up,0.333333,562.791248,1.0,...,1.0,NaN,NaN,NaN,NaN,NaN,4999,5,1,NaN
157517,18,16.0,3,16,2,2.0,up,0.909091,NaN,NaN,...,1.0,1.0,NaN,NaN,NaN,NaN,4999,5,1,NaN
157518,17,16.0,3,17,1,2.0,down,0.909091,559.029034,0.0,...,1.0,0.0,NaN,NaN,NaN,NaN,4999,5,1,NaN
157519,15,1.0,2,18,0,1.0,down,0.333333,503.166329,0.0,...,0.0,NaN,NaN,NaN,NaN,NaN,4999,5,1,NaN

In [6]:
training_all.to_csv("/Users/nedimozden/Desktop/CMOR-Research/CMOR_Research/Code/training_all.csv", index=False)
training_1constr.to_csv("/Users/nedimozden/Desktop/CMOR-Research/CMOR_Research/Code/training_1constr.csv", index=False)
training_mconstr.to_csv("/Users/nedimozden/Desktop/CMOR-Research/CMOR_Research/Code/training_mconstr.csv", index=False)
training_corr.to_csv("/Users/nedimozden/Desktop/CMOR-Research/CMOR_Research/Code/training_corr.csv", index=False)