In [1]:
import pandas as pd
import numpy as pd
from logreg_functions import *
from knapsack_functions import *

In [ ]:
full_df = build_training_set(num_instances=10, num_items = 5)

90.0 IS THE OPTIMAL VALUE
54.0 IS THE OPTIMAL VALUE
96.0 IS THE OPTIMAL VALUE
82.0 IS THE OPTIMAL VALUE
72.0 IS THE OPTIMAL VALUE
93.0 IS THE OPTIMAL VALUE
109.0 IS THE OPTIMAL VALUE
111.0 IS THE OPTIMAL VALUE
96.0 IS THE OPTIMAL VALUE
127.0 IS THE OPTIMAL VALUE

In [ ]:
# Suppose full_df is your big dataset (from build_training_set)
clf, metrics = train_logreg(full_df)

print(metrics)

,node_id,parent_id,depth,status,lp_objective,objective,visit_idx,open_nodes_count,branch_parent_var,branch_parent_dir,...,x0,x1,x2,x3,x4,has_optimal_subtree,instance_id,best_val,num_items,seed
0,0,<NA>,0,fractional,103.933333,NaN,0,0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,1,0,90.0,5,551521
1,2,0,1,fractional,99.166667,NaN,1,1,2.0,0.0,...,NaN,NaN,0.0,NaN,NaN,1,0,90.0,5,551521
2,4,2,2,integer,90.000000,90.0,2,2,4.0,0.0,...,NaN,NaN,0.0,NaN,0.0,1,0,90.0,5,551521
3,3,2,2,fractional,84.777778,NaN,3,1,4.0,1.0,...,NaN,NaN,0.0,NaN,1.0,0,0,90.0,5,551521
4,6,3,3,integer,79.000000,79.0,4,2,0.0,0.0,...,0.0,NaN,0.0,NaN,1.0,0,0,90.0,5,551521
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
207,19,11,3,fractional,138.571429,NaN,22,0,4.0,1.0,...,1.0,NaN,NaN,1.0,1.0,0,9,127.0,5,273099
208,24,19,4,fractional,119.650000,NaN,23,1,1.0,0.0,...,1.0,0.0,NaN,1.0,1.0,0,9,127.0,5,273099
209,26,24,5,integer,118.000000,118.0,24,2,2.0,0.0,...,1.0,0.0,0.0,1.0,1.0,0,9,127.0,5,273099
210,25,24,5,infeasible,NaN,NaN,25,1,2.0,1.0,...,1.0,0.0,1.0,1.0,1.0,0,9,127.0,5,273099
211,23,19,4,infeasible,NaN,NaN,26,0,1.0,1.0,...,1.0,1.0,NaN,1.0,1.0,0,9,127.0,5,273099

In [5]:
X_node, X_path, X_global, y, instance_ids = build_xy_vectors(df)

X = pd.concat([X_node, X_path, X_global], axis=1)